[Unit]
Description=Weather Client Server

[Service]
User=root
Group=root
WorkingDirectory=/var/www/weather-server
ExecStart=/usr/bin/java -jar /var/www/weather-server/weather-0.0.1-SNAPSHOT.jar
Restart=on-failure

[Install]
WantedBy=multi-user.target