HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# ------------------------------------------------------
# This is a gitignore file. Any items in this file will be "ignored" by git.

# Idea Files

.idea/

# Coverage Files, Bundled Files, Dependencies

client/dist
client/dist/
*/node_modules
*/node_modules/
*/package-lock.json

# Generated Java Files

server/dependency-reduced-pom.xml
server/.m2/repository
server/.m2/repository/
target
target/

server/.project
server/.settings/

server/*.iml

